@import './base.css';

#app {
  padding: 0;
  margin: 0;
  font-weight: normal;
}

main {
  max-width: 1440px;
  margin: 80px auto;
}

a {
  text-decoration: none;
  color: var(--color-text);
  cursor: pointer;
}

button {
  display: block;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border: none;
  font-size: 16px;
  border-radius: 4px;
}

.primary-button {
  background-color: var(--color-primary);
  color: var(--color-text-white);
}

@media (hover: hover) {
  .primary-button:hover {
    background-color: var(--color-primary-hover);
  }
}

.update-button {
  background-color: var(--color-lightseagreen);
  color: var(--color-text-white);
}

@media (hover: hover) {
  .update-button:hover {
    background-color: var(--color-lightseagreen-hover);
  }
}

.edit-button {
  background-color: var(--color-gray);
  color: var(--color-text-black);
}

@media (hover: hover) {
  .edit-button:hover {
    background-color: var(--color-gray-hover);
  }
}

.danger-button {
  background-color: var(--color-red);
  color: var(--color-text-white);
}

@media (hover: hover) {
  .danger-button:hover {
    background-color: var(--color-red-hover);
  }
}

.error-message {
  color: var(--color-red);
  font-size: 0.9rem;
  margin: 0.5rem;
}

/* @media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
} */

/* @media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
