.env_file/
db/data/
backend/api/__pycache__/
backend/api/models/__pycache__/
backend/api/routers/__pycache__/
backend/.env
backend/migrations/__pycache__/
backend/migrations/versions/__pycache__/

frontend/web/.gitignore

# 以下は.gitignoreの内容をコピー

# Logs
frontend/web/logs
frontend/web/*.log
frontend/web/npm-debug.log*
frontend/web/yarn-debug.log*
frontend/web/yarn-error.log*
frontend/web/pnpm-debug.log*
frontend/web/lerna-debug.log*

frontend/web/node_modules
frontend/web/.DS_Store
frontend/web/dist
frontend/web/dist-ssr
frontend/web/coverage
frontend/web/*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
frontend/web/.vscode/*
!frontend/web/.vscode/extensions.json
frontend/web/.idea
frontend/web/*.suo
frontend/web/*.ntvs*
frontend/web/*.njsproj
frontend/web/*.sln
frontend/web/*.sw?

frontend/web/*.tsbuildinfo